### Overview
Your job is to read the review of an application that tracks electricity uasage and determine the sentiment of the review.

### Instructions
1) read the review carefully
2) determine if the sentiment of the review is positive or negative
3) Follow the output defined in the Output JSON section

### Review
${input}

### Output JSON
{
	"sentiment": "<positive|negative>",
	"rationale": "<give the reason for selecting positive or negative>"
}
